<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{web/fragmentos :: head}"></head>

<body>
<div th:replace="~{WEB/fragmentos :: menu}"></div>






</body>




<style type="text/css">
body{

background-color: #ebedf0;
}

.botaoVoltar:hover{

background-color: #0055c8;
color:white;
}


#titulo{

font-size:30px;
font-family:sans-serif;
text-decoration:none;
font-weight: 800;

}

.item_lista{

font-size:30px;
font-family:sans-serif;
text-decoration:none;
font-weight: 400;

}

.modal{
	width: 30%;
}

.modal-content{
	width: 30%;	
}
</style>
</html>